/* .MuiPaper-root, .MuiMenu-paper, .MuiPopover-paper, .MuiPaper-elevation8, .MuiPaper-rounded{
  left: 300px !important;
} */
.reaction-menu{
    margin-left: 10px;
   
}
.emoji-l{
   display: flex;  
}
.pinned_msg_container{
    background-color: rgb(80, 3, 79);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top:-20px;
    position: sticky;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}
.react-message-emoji-button{
    margin-left: 10px;
}
.pinmsg{
    color: rgb(216, 203, 55) !important;
    cursor: pointer !important;
}
.pinned_msg{
    color: #fff;
    text-align: center;
    position: sticky;
}

.image{
    height: 50px;
    width: auto;
}
.reaction-emoji-wrapper{
    display: flex;
    background-color: rgb(64, 33, 63);
}

.gopindisplay{
    display: none;
}