.create_container {
    background-color: rgb(235, 223, 238);
}

.open_container {
    background-color: rgb(255, 255, 255);
}

.createworkspace_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-register{
    top: 20px;
    display: flex;
    justify-content: flex-end;
}
.login_button{
    background-color: transparent !important;
    border: 2px solid rgb(113, 41, 123) !important;
    color: rgb(71, 6, 75) !important;
    padding: 10px 65px !important;
    box-shadow: none !important;
    transition: all ease 0.5s;
}
.login_button:hover{
    color:  #fff !important;
    border: none !important;
}
.register_button{
    padding: 10px 35px !important;
    right: 80px !important;
    transition: all ease 0.5s;
}

.register_button:hover{
    background-color: transparent !important;
    border: 2px solid rgb(113, 41, 123) !important;
    color: rgb(71, 6, 75) !important;
}

@media screen and (min-width: 700px) and (max-width: 980px) {
    .img {
        height: 330px !important;
        width: 330px !important;
    }

    .create_container h1,
    .create_container p {
        padding: 0px !important;
        margin: 0px !important;
    }

    .create_container .create_button {
        margin: 20px 0px !important;
    }
}

@media screen and (max-width: 750px) {
    .create_container {
        justify-content: center;
        align-items: center;
    }

    .img {
        height: 430px !important;
        width: 430px !important;
    }
}

@media screen and (min-width: 200px) and (max-width: 450px) {
    .create_container {
        justify-content: center;
        align-items: center;
    }

    .img {
        height: 250px !important;
        width: 250px !important;
        align-items: center;
    }

    .open_container .form,
    .create_container h1,
    .create_container p {
        padding: 0px !important;
        margin: 0px !important;
    }

    .create_container .create_button {
        margin: 20px 0px !important;
    }
}