/* Active User List */

.user-list-container {
    width: 230px;
}

.users-list {
    width: 100%;
    padding-top: 0 !important;
    overflow-y: auto;

}

.users-list-title {
    background: #2e062e;
    height: 64px;
    font-size: 18px;
    box-shadow: 0 2px 0 0 #360638;
}

.user-list-item {
    padding: 0.8em;
    padding-top: 14px !important;
    box-sizing: border-box;
}

.online{
    width: 10px;
    height: 10px;
    background: #15df0a !important;
    position: absolute;
    border-radius: 50%;
    left: 50px;
    bottom: 10px;
  
}




.user-profile {
    display: flex;
    justify-content: space-around;
    border-radius: 50% !important;
    background: rgb(189, 130, 54) !important;
    height: 47px !important;
    width: 47px !important;
    text-align: center;
    color: #fff !important;

}

.MuiTableCell-head, .MuiTableCell-body{
    color: #fff !important;
}

.user {
    text-align: center;
    padding: 8px;   
    font-size: 20px;
    font-weight: 600;
}

.user-profile :hover {
    text-decoration: none;
    color: #fff;
}

