/* Active User List */

.user-list-container {
    width: 230px;
}

.users-list {
    width: 100%;
    padding-top: 0 !important;
    overflow-y: auto;

}

.users-list-title {
    background: #2e062e;
    height: 64px;
    font-size: 18px;
    box-shadow: 0 2px 0 0 #360638;
}

.user-list-item {
    padding: 0.8em;
    box-sizing: border-box;
}

.user-list-online {
    width: 10px;
    height: 10px;
    background: #0eb105;
    position: absolute;
    border-radius: 50%;
    bottom: 6px;
    right: 4px;
}